/*
* Sneaky Framework v1.0
* Media Queries
* Drew Parker
* MIT License (http://www.opensource.org/licenses/mit-license.php)
* www.sneakyframework.com
*/

/*************** From 1800px to 2200px ****************/

@media only screen and (min-width: 1800px) and (max-width: 2200px) {
    
    .siteContainer, div#siteContainer, div.siteContainer {
        width: 1800px;
    }
}


/*************** From 1500px to 1800px ****************/

@media only screen and (min-width: 1500px) and (max-width: 1800px) {
    
    .siteContainer, div#siteContainer, div.siteContainer {
        width: 1450px;
    }
}

/*************** From 1382px to 1375px ****************/

@media only screen and (min-width: 1382px) and (max-width: 1500px) {
    
    .siteContainer, div#siteContainer, div.siteContainer {
        width: 1300px;
    }
}

/*************** From 1240px to 1375px ****************/

@media only screen and (min-width: 1240px) and (max-width: 1375px) {
    
    .siteContainer, div#siteContainer, div.siteContainer {
        width: 1200px;
    }
}



/*************** Tablets (Portrait) ****************/

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    
    .siteContainer, div#siteContainer, div.siteContainer {
        width: 768px;
    }
}


/*************** Mobile (Portrait) ****************/

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    
    .siteContainer, div#siteContainer, div.siteContainer {
        width: 320px;
    }
    
    nav {
	visibility: hidden;
    }

}


/*************** Mobile (Landscape) ****************/

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
     .siteContainer, div#siteContainer, div.siteContainer {
        width: 420px;
    }
}
    
/*************** Media Print ****************/

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
    
@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media screen and (min-width: 68em) and (min-height: 53em) {
  body {
    font-size: 87.5%;
  }
}

@media screen and (min-width: 75em) and (min-height: 57em) {
  body {
    font-size: 93.75%;
  }
}

@media screen and (min-width: 80em) and (min-height: 62em) {
  body {
    font-size: 100%;
  }
}

